<!DOCTYPE html>
<html>
<head>
  <title>Vistas</title>
  <%= stylesheet_link_tag    "application", media: "all",
  "data-turbolinks-track" => true %>

  <%= yield :stylesheets %>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body id="<%= page_id %>"  >
  <h1>
    Hotdogs.com
  </h1>

  <%= yield :page_title %>

  <%= navegacion %>

  <%= yield :promo %>


  <%= yield %>


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>

</body>
</html>
