<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Tax code:</strong>
  <%= @client.tax_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @client.balance %>
</p>

<p>
  <strong>Active:</strong>
  <%= @client.active %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
