<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @profile.password %>
</p>

<p>
  <strong>Password confirmation:</strong>
  <%= @profile.password_confirmation %>
</p>

<%= link_to 'Edit', edit_profile_path %> |
<%= link_to 'Back', root_path %>
